mixin card(imgUrl, title, text)
  article.card
    .card__image
      img(src=imgUrl, alt=title)
    .card__content
      .card__title= title 
<<<<<<< HEAD
      .card__text= text 
=======
      .card__text= text
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370
